@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;700;800&family=Roboto:wght@300;400;700&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background-color:#62A5A1 ;

  font-family: 'Roboto', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Bebas Neue', cursive;

}


